body{
    background-color: rgb(68, 68, 68);
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
}
table{
    margin: auto;
    margin-top: 10px;
}
